@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap");
/* Root variables */
:root {
  --main: #fe0002;
  --main-2: rgba(254, 0, 2, 0.1);
  --sec: #346400;

  --dark: #171717;
  --dark-2: #202020;
  --dark-3: #292f36;

  --text: #eee;

  --font: "Poppins", sans-serif;
}
/* Uso: ej. background-color: var(--dark); */

* {
  box-sizing: border-box;
  margin: 0mm;
  padding: 0mm;
  font-family: "Poppins", sans-serif;
  color: var(--text);
}
body {
  background-color: var(--dark);
}

.navbar__top {
  background-color: var(--dark-3);
  height: 38px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}
.navbar__top--element {
  display: flex;
  align-items: center;
  color: var(--text);
  font-size: 15px;
  text-decoration: none;
  margin: 0 2rem;
}
.navbar__top--element > svg {
  margin-right: 10px;
}
.navbar__main {
  background-color: var(--dark-2);
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 0 0 50px;
}
.navbar__main--elements {
  padding: 0 50px;
  margin-left: auto;
  display: inline-flex;
  align-items: center;
}
.navbar__main--links {
  color: var(--text);
  text-decoration: none;
  line-height: 35px;
}
.navbar__main--links.active {
  font-weight: 700;
}
.navbar__main--links {
  margin-left: 20px;
}
.navbar__main--search {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.navbar__main--search > input {
  border: 2px solid var(--main);
  border-radius: 5px 0 0 5px;
  height: 40px;
  padding: 0 20px;
  background-color: var(--main-2);
  font-family: var(--font);
  font-size: 15px;
  color: var(--text);
}
.navbar__main--search > input::placeholder {
  color: var(--text);
  font-size: 15px;
}
.navbar__main--search > input:focus {
  outline: none;
}
.navbar__main--search > input:focus ~ .navbar__main--search-results {
  display: block;
}
.navbar__main--search-results:hover {
  display: block;
}

.navbar__main--search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 0 5px 5px 0;
  height: 40px;
  width: 55px;
  font-size: 20px;
  line-height: 40px;
  background-color: var(--main);
  color: var(--text);
  cursor: pointer;
}
.navbar__main--search-results {
  display: none;
  position: absolute;
  top: 100px;
  right: 50px;
  transition: all 0.5s ease-in-out;
}
.navbar__main--search-results > a {
  background-color: var(--dark-3);
  width: 300px;
  display: block;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  color: var(--text);
  text-decoration: none;
}
@media (max-width: 950px) {
  .navbar {
    margin-bottom: 40px;
  }
  .navbar__top {
    display: none;
  }
  .navbar__main--elements {
    flex-direction: column-reverse;
  }
  .navbar__main--elements-cont {
    position: absolute;
    width: 100vw;
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    top: 79px;
    left: 0;
    background-color: var(--dark-2);
  }
}
@media (max-width: 550px) {
  .navbar__main {
    padding: 0 0 0 20px;
  }
  .navbar__main--elements {
    padding: 0 15px 0;
  }
  .navbar__main--elements-cont {
    justify-content: space-between;
    padding: 0 20px;
  }
  .navbar__main--links {
    font-size: 12px;
    margin-left: 15px;
  }
  .navbar__main--search > input {
    height: 30px;
    width: 150px;
    padding: 0 10px;
  }
  .navbar__main--search-button {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 40px;
  }
  .components__navbar--logo > span {
    width: 40px !important;
    height: 40px !important;
  }
  .navbar__main--search-results > a {
    width: 90vw;
    word-wrap: break-word;
  }
  .navbar__main--search-results {
    top: 80px;
    right: 15px;
    right: left;
  }
}
@media (max-width: 390px) {
  .navbar__main {
    padding: 0 0 0 10px;
  }
  .navbar__main--elements-cont {
    justify-content: space-between;
    padding: 0 10px;
  }
  .navbar__main--links {
    font-size: 11px;
    margin-left: 7px;
  }
}
